<a href="https://fbi.gov">FBI</a>, <a href="https://cia.gov">CIA</a>, <a href="https://defense.gov">Army</a>, <a href="https://defense.gov">Navy</a>, <a href="https://defense.gov">Air Force</a>, <a href="https://defense.gov">Space Force</a>,  <a href="https://snap.gov">Food Stamps</a>, <a href="https://ssa.gov">Social Security</a>, <a href="https://fcc.gov">CCC</a>, <a href="https://fcc.gov">FCC</a>,
<a href="https://snap.gov"><img style="max-height:36px;padding:7px;" src="static/img/snap_logo.png" /></a>
    <a href="https://fcc.gov"><img style="max-height:36px;padding:7px;" src="static/img/fcc_logo.png" /></a>